/*This is a class to put something in the middle, death to left align*/
.centered{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:250px;
}
/*this class is for my title*/
.logo{
  font-family: 'Serif', monospace;
  font-size: 60px;
  color: #28262C;
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 0 0 0 0;
 
}
body{
  background-color:aqua;
}


a:link {color:blue}
a:visited {color:red}
a:hover{color:teal}
a:active{color:blueviolet}
